/* General reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Navigation bar */
.navbar {
    background-color: #017763;
    padding: 1rem;
    display: f;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: yellow;
}

/* Product container */
.product-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.product-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    border-radius: 4px;
}

.product-card h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.product-card .price {
    color: #004d40;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.product-card button {
    background-color: #ffffff;
    color: 004d40;
    border-color: #017763;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.product-card button:hover {
    background-color: #06b194;
}

/* Product Cart */
.cart-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.cart-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.cart-card:hover {
    transform: scale(1.05);
}

.cart-card h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.cart-card .price {
    color: #004d40;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.cart-card button {
    background-color: #ffffff;
    color: 004d40;
    border-color: #017763;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.cart-card button:hover {
    background-color: #06b194;
}

